{% extends 'base.html' %}

{% block menu %}
<li class="nav-item"><a href="/" class="nav-link border border-white text-white" aria-current="page">Principal</a></li>
{% endblock %}

{% block conteudo %}
    <div class="col-8 m-auto pt-2 pb-2 text-center">
        <h1>Chamados</h1>
    </div>

    <div class="col-8 m-auto pt-2 pb-2 text-center">
        <form method="get">
            <input type="text" id="search" name="search" class="form-control" placeholder="Buscar chamado...">
        </form>
    </div>

    <div class="col-8 m-auto pt-2 pb-2 text-center">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Titulo</th>
                    <th scope="col">Descrição</th>
                    <th scope="col">Data</th>
                    <th scope="col">Opções</th>
                </tr>
            </thead>
            <tbody>
            {% for dbs in db %}
                <tr>
                    <th>{{dbs.id}}</th>
                    <td>{{dbs.titulo}}</td>
                    <td>{{dbs.descricao}}</td>
                    <td>{{dbs.data|date:"d M, Y"}}</td>
                    <td>
                        <a href="/view_chamado/{{dbs.id}}/" class="btn btn-success">Visualizar</a>
                        <a href="/edit_chamado/{{dbs.id}}/" class="btn btn-secondary">Editar</a>
                        <a href="/delete_chamado/{{dbs.id}}/" class="btn btn-dark btnDel">Excluir</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="col-8 m-auto pt-2 pb-2 text-center">
        <a href="/form_chamado" class="btn btn-success"> Adicionar </a>
    </div>
{% endblock %}