{% extends 'base.html' %}

{% block menu %}
<li class="nav-item"><a href="/chamado" class="nav-link border border-white text-white" aria-current="page">Voltar</a></li>
{% endblock %}

{% block conteudo %}
    <div class="col-8 m-auto pt-2 pb-2 text-center">
        <h1>Cadastrar/editar chamado.</h1>
    </div>

    <div class="col-8 m-auto pt-2 pb-2 text-center">
       <!-- {{form.as_p}}-->
        <div id="result"></div>
         <form name="form" id="form"  action="{% if db %}/update_chamado/{{db.id}}/{% else %}/create_chamado/{% endif %}" method="post">
             {% csrf_token %}

             {{ form_chamado.as_p }}
            <!-- <div class="form-group mt-4">Titulo: {{form_chamado.titulo}}</div>
            <div class="form-group mt-4">Descrição: {{form_chamado.descricao}}</div>
            <div class="form-group mt-4">Data: {{form_chamado.data}}</div>
            <div class="form-group mt-4">Categoria: {{form_chamado.categoria}}</div>
            <div class="form-group mt-4">Status: {{form_chamado.status}}</div>
            <div class="form-group mt-4">Responsavel: {{form_chamado.responsavel}}</div> -->

            <input type="submit" class="btn btn-success" value="Salvar">
        </form>
    </div>
{% endblock %}