{% extends 'base.html' %}

{% block menu %}
<li class="nav-item"><a href="/pessoa" class="nav-link border border-white text-white" aria-current="page">Voltar</a></li>
{% endblock %}

{% block conteudo %}
    <div class="col-8 m-auto pt-2 pb-2 text-center">
        <h1>Cadastrar/editar usuários.</h1>
    </div>

    <div class="col-8 m-auto pt-2 pb-2 text-center">
       <!-- {{form.as_p}}-->
        <div id="result"></div>
        <form name="form" id="form"  action="{% if db %}/update_pessoa/{{db.id}}/{% else %}/create_pessoa/{% endif %}" method="post">
            {% csrf_token %}
            <div class="form-group mt-4">Nome: {{form_pessoa.nome}}</div>
            <div class="form-group mt-4">E-mail: {{form_pessoa.email}}</div>
            <div class="form-group mt-4">Senha: {{form_pessoa.senha}}</div>

            <input type="submit" class="btn btn-success mt-4" value="Salvar">
        </form>
    </div>
{% endblock %}