{% extends 'base.html' %}

{% block conteudo %}
 {% if request.user.is_authenticated %}
    <div class="col-md mx-auto">
        <h3>
            <i class="fa fa-exclamation" aria-hidden="true"></i>
            Ação não permitida
        </h3>
        <hr>
        <p class="lead">
            <strong>
                Houve algum problema para processar a ação desejada ou você não tem permissão para isso.
            </strong>
        </p>
    </div>
    {% else %}
	<main class="form-signin">
		<div class="container" style="margin-top: 5%">
			<div class="row">
				<div class="col-3"></div>
				<div class="col-6">
					<form class="" action="/logar" method="post">
						{% csrf_token %}
						<div class="text-center">
							<h1 class="h3 mb-3 fw-normal">Faça o login abaixo</h1>
						</div>
						<div class="col-md-12">
							<label class="form-label">Nome de usuario</label>
							<input type="text" class="form-control" name="username" required />
						</div>
						<div class="col-md-12">
							<label class="form-label">Senha</label>
							<input type="password" class="form-control" name="password" required />
						</div>
						<div class="col-md-12 text-center mt-3">
							<button class="w-50 btn btn-lg btn-success mt-3" type="submit">Acessar</button>
							<p class="text-center pt-3">ou</p>
							<a class="btn btn-warning" href="/telaCadastro" role="button">Cadastre-se</a>
						</div>

					</form>
				</div>
				<div class="col-3"></div>
			</div>
		</div>
	</main>
	{% endif %}
{% endblock %}