{% extends 'base.html' %}

{% block menu %}
<li class="nav-item"><a href="/chamado" class="nav-link border border-white text-white" aria-current="page">Voltar</a></li>
{% endblock %}

{% block conteudo %}
    <div class="col-8 m-auto pt-2 pb-2 text-center">
        <h1>Detalhes do chamado.</h1>
    </div>

    <div class="col-8 m-auto pt-2 pb-2 text-center">
        <strong>Titulo: </strong> {{db.titulo}} <br>
        <strong>Descrição: </strong> {{db.descricao}} <br>
        <strong>Data: </strong> {{db.data}} <br>
        <strong>Categoria: </strong> {{db.categoria}} <br>
        <strong>Status: </strong> {{db.status}} <br>
        <strong>Responsavel: </strong> {{db.responsavel}} <br>
    </div>
{% endblock %}